header{
    max-width: 1140px;
}


.navbar li{
    list-style: none;
}
.navbar{
    display: flex;
    text-align: center;
    gap: 47px;
}
.faugei{
   
    height: 71px;
    margin-top: 30px;
    margin-left: 150px;

    display: flex;
    justify-content: space-between;
}
/* nav section end */
/* banner section start */
.text{

    width:570px ;
    height: 299px;
    margin-top: 162px;
}
.text p{
   color:#8987a1 ;
}
.imag{
    width: 570px;
    height: 355px;
}
.banner{

    display: flex;
    margin-left: 150px;
    margin-top: 221px;
}
/* header section end */
/* main section start */

.card{
    width: 270px;
    height: 484.94px;
}
.name{
    text-align: center;
}
.btn{
    width: 270px;
    height: 50px;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
}

.card-section{
   max-width: 1140px;
   max-height: 999.98px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);

}
.text-2{
    text-align: center;
}
.section-1{
  
    margin-left: 140px;
}
