header{
    max-width: 1140px;
}


.navbar li{
    list-style: none;
}
.navbar{
    display: flex;
    text-align: center;
    gap: 47px;
}
.faugei{
   
    height: 71px;
    margin-top: 30px;
    margin-left: 150px;

    display: flex;
    justify-content: space-between;
}
/* nav section end */
/* banner section start */
.text{

    width:570px ;
    height: 299px;
    margin-top: 162px;
}
.text p{
   color:#8987a1 ;
}
.imag{
    width: 570px;
    height: 355px;
}
.banner{

    display: flex;
    margin-left: 150px;
    margin-top: 221px;
}
/* header section end */
/* main section start */
/* section-1 */

.card{
    width: 270px;
    height: 484.94px;
}
.name{
    text-align: center;
}
.btn{
    width: 270px;
    height: 50px;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
}

.card-section{
   max-width: 1140px;
   max-height: 1186.88px;
   margin-left: 140px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);

}
.text-2{
    text-align: center;
}
/* section-2 */
.bas{
    width: 286px;
    height: 286px;
}
.store-pic{
    width: 540px;
    height: 597px;
    text-align: center;
   
}

.t-part{
   max-width: 540px;
   max-height: 597px;
}
.t-part ul{
    color: #8987a1;
}
.section-2{

    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    height: 597px;
    gap: 20px;
    margin-left: 150px;
    margin-top:50px ;

}
/* section-3start */
.section-3{
    max-width: 1140px;
    height: 138px;
    text-align: center;
    margin-top: 50px;
}
.section-4{
    max-width: 1140px;
  
    margin-left: 150px;
    margin-right: 50px;
    display: flex;
    gap: 20px;
}
/* main closed */
/* footer part-1 start */
.btn-2{
    width: 186px;
    height: 50px;
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    border-radius: 5px;
}
.email{
    display: flex;
    gap: 2px;
}
.part-1{
    background-image: url(../assets/news-letter-bg.png);
    background-position: 100%;
     width: 1440px;
    height: 533px;
    margin-left: 0;
    text-align: center;
}
.join{
    text-align: center;
    justify-items: center;
   margin-top: 110px;
}
.part-1{
   justify-content: center;
   justify-items: center;
}

